@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {
  --dark: #212121;
  --lightPurple: #CCCCFF;
  --darkPurple: #8235F5;
  --spacingXS:20px;
  --spacingS:40px;
  --spacingM:80px;
  --spacingL:120px;
  --spacingXL:240px;
}